<!-- table showing competition relevant information on ranks -->
<!-- for micromouse: rank, team name, best run time, tries remaining -->
<!-- for grand prieee: rank, team name, best run time -->
<div class='board'>
  <div class='base_row'>
    <div class='col crb5'><div class='bcell bk3 inv'>School</div></div>
    <div class='col crb5'><div class='bcell bk3 inv'>Team</div></div>
    <div class='col crb5'><div class='bcell bk3 inv'>Best Time</div></div>
    <div class='col crb5'><div class='bcell bk3 inv'>Best Score</div></div>
    <div class='col crb5'><div class='bcell bk3 inv'>Place</div></div>
  </div>
  <div ng-repeat='team in teams | orderBy: team.rank track by $index'>
    <div ng-click="show_team($index)" class='base_row'>
      <div class='col crb5'>
        <div class='bcell' ng-class="{{$index%2 == 0}} ? 'bk0' : 'bk2'">{{ team.school }}</div>
      </div>
      <div class='col crb5'>
        <div class='bcell' ng-class="{{$index%2 == 0}} ? 'bk0' : 'bk2'">{{ team.name }}</div>
      </div>
      <div class='col crb5' ng-click="show_run($index); d(); $event.stopPropagation();">
        <div class='bcell' ng-if='team.runs[0]' ng-class="{{$index%2 == 0}} ? 'bk0' : 'bk2'">{{ team.time }}</div>
        <div class='bcell' ng-if='!team.runs[0]'>
          <button class='btn-buf btn-reduce fill'>Start Run</button>
        </div>
      </div>
      <div class='col crb5'>
        <div class='bcell' ng-if='team.score' ng-class="{{$index%2 == 0}} ? 'bk0' : 'bk2'">{{ team.score }}</div>
      </div>
      <div class='col crb5'>
        <div class='bcell' ng-if='team.rank' ng-class="{{$index%2 == 0}} ? 'bk0' : 'bk2'">{{ team.rank }}</div>
      </div>
    </div>
  </div>
  <div class='base_row'>
    <div class='col crb1'><div class='bcell bk1' ng-click="show_add()">Add Team</div></div>
  </div>
</div>
