<div class='add_team base_col'>
  <div class='row'>
    <div class='base_row'>
      <div class='col crb2 bk1 bcell'>
        <label>Team Name:</label>
      </div>
      <div class='col crb2'>
        <input class="fill" type="text" ng-model="new_team.name"/>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='base_row'>
      <div class='col crb2 bk1 bcell'>
        <label>School:</label>
      </div>
      <div class='col crb2'>
        <input class="fill" type="text" ng-model="new_team.school"/>
      </div>
    </div>
  </div>
</div>
<button class='btn-buf' ng-click="create()">Create</button>
<button class='btn-buf' ng-click="back2()">Back</button>
