/* Wrapper Page Details */
.page {
  width: 100%;
  margin: 0 0 0 0pt;
}
/*  */
.spacer {
  height: 25px;
}
.fill {
  width: 98%;
}
.px100 {
  width: 100%;
}
.px3 {
  width: 134.7px;
}
.btn-buf {
  margin: 3px;
  background-color: darkgrey;
}
.btn-reduce {
  padding: 0px;
  border: 0px;
  margin: 0px;
}
.mid {
  font-size: 20pt;
}
.mass {
  font-size: 60pt;
}
.header {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 100px;
}
.content {
  position: fixed;
  width: 100%;
  height: auto;
  top: 100px;
  z-index: 1;
}
.modals {

}

.footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 100px;
}

/* Modal Handling */
.modal {
  position: fixed;
  z-index: 3;
  background-color: white;
  height: auto;
  width: 400px;
  top: 50%;
  left: 50%;
  margin-top: -10%;
  margin-left: -200px;
}
.modal_hide {
  display: none;
}
.modal_show {
  display: block;
}
.modal_fade {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: darkgrey;
  opacity: 0.5;
  z-index: 2;
}

/* Flex Grid */
.base_row {
  display: flex;
  flex-direction: row;
}

.col {
  flex-direction: column;
}
.base_col {
  display: flex;
  flex-direction: column;
}
.row {
  flex-direction: row;
}
.bcell {
  border: auto;
  border-style: solid;
  border-width: 1px;
  text-align: center;
}
.tcell {
  text-align: center;
}

/* Column Split */
/* Must modify to accommodate SCHEMA changes */
.crb1 {
  flex-basis: 100%;
}
.crb2 {
  flex-basis: 50%;
}
.crb3 {
  flex-basis: 33%;
}
.crb4 {
  flex-basis: 25%;
}
.crb5 {
  flex-basis: 20%;
}
.crb6 {
  flex-basis: 16%;
}
.crb7 {
  flex-basis: 14.3%;
}
.crb8 {
  flex-basis: 12.5%;
}
.crb9 {
  flex-basis: 11.1%;
}
.crb10 {
  flex-basis: 10%;
}

/* Colors */
.inv {
  color: white;
  border-color: black;
}
.bk1 {
  background-color: lightblue;
}
.bk2 {
  background-color: lightgrey;
}
.bk3 {
  background-color: grey;
}
.bk4 {
  background-color: blue;
}
.bk5 {
  background-color: darkgrey;
}
.bk6 {
  background-color: darkblue;
}
