<div class='profile base_col'>
  <div class='row crb6'>
    <div class="base_row">
      <div class="col crb2 bcell">
        <label>Rank:</label>
      </div>
      <div class="col crb2">
        <input class="fill" type="text" ng-model="team.rank"/>
      </div>
    </div>
  </div>
  <div class='row crb6'>
    <div class="base_row">
      <div class="col crb2 bcell">
        <label>Team Name:</label>
      </div>
      <div class="col crb2">
        <input class="fill" type="text" ng-model="team.name"/>
      </div>
    </div>
  </div>
  <div class='row crb6'>
    <div class="base_row">
      <div class="col crb2 bcell">
        <label>School:</label>
      </div>
      <div class="col crb2">
        <input class="fill" type="text" ng-model="team.school"/>
      </div>
    </div>
  </div>
  <div class='row crb6'>
    <div class="base_row">
      <div class="col crb2 bcell">
        <label>Run #1:</label>
      </div>
      <div class="col crb2">
        <input class="fill" type="text" ng-model="team.run1"/>
      </div>
    </div>
  </div>
  <div class='row crb6'>
    <div class="base_row">
      <div class="col crb2 bcell">
        <label>Penalties:</label>
      </div>
      <div class="col crb2">
        <input class="fill" type="text" ng-model="team.pen1"/>
      </div>
    </div>
  </div>
  <div class='row crb6'>
    <div class="base_row">
      <div class="col crb2 bcell">
        <label>Run #2:</label>
      </div>
      <div class="col crb2">
        <input class="fill" type="text" ng-model="team.run2"/>
      </div>
    </div>
  </div>
  <div class='row crb6'>
    <div class="base_row">
      <div class="col crb2 bcell">
        <label>Penalties:</label>
      </div>
      <div class="col crb2">
        <input class="fill" type="text" ng-model="team.pen2"/>
      </div>
    </div>
  </div>
  <div class="row">
    <button ng-click="update()">Update</button>
    <button ng-click="destroy()">Delete</button>
    <button ng-click="back1()">Back</button>
  </div>
</div>
