<!DOCTYPE html>
<html ng-app='app-mod'>
<head>
  <title>Micromouse Scoreboard</title>
  <script src='lib/angular-v1/angular-v1.min.js'></script>
  <script src='lib/angular-v1-route/angular-route.min.js'></script>
  <!-- <script src='lib/d3/d3.js'></script> -->
  <script src='index.js'></script>
  <script src='page/board/ctrl.js'></script>
  <script src='page/run/ctrl.js'></script>
  <script src='page/add/ctrl.js'></script>
  <script src='page/profile/ctrl.js'></script>
  <script src='page/settings/ctrl.js'></script>
  <script src='page/score/ctrl.js'></script>
  <link rel="stylesheet" href="model/style/index.css"></link>
</head>
<body class="page" ng-controller='app-ctrl'>
  <header class="header bk4"></header>
  <div class="modal_fade modal_hide" ng-class="mod_state_fade" ng-click="app_back()"></div>
  <div class="content">
    <scoreboard></scoreboard>
  </div>
  <div class="modals" ng-class="mod_state">
    <run-modal class="modal modal_hide" ng-class="mod_state_run"></run-modal>
    <add-modal class="modal modal_hide" ng-class="mod_state_add"></add-modal>
    <pro-modal class="modal modal_hide" ng-class="mod_state_pro"></pro-modal>
    <set-modal class="modal modal_hide" ng-class="mod_state_set"></set-modal>
  </div>
  <footer class="footer bk4"></footer>
</body>
</html>
