<div class='settings base_col'>
  <div class='row'>
    <div class='base_row'>
      <div class='col crb2 bcell'>
        Round Timer (seconds)
      </div>
      <div class='col crb2'>
        <input class="fill" type="text" ng-model="tmp_round_timer"/>
      </div>
    </div>
  </div>
</div>
<button class='btn-buf' ng-click="update2()">Apply</button>
<button class='btn-buf' ng-click="back()">Back</button>
