<!-- modal showing competition relevant run info -->
<!-- for micromouse: team name, best run time, time remaining -->
<!-- for grand prieee: team name, stop clock -->
<!-- states: load team, run team, save team -->
<div class="run base_col">
  <div class="row">
    <div class="base_row">
      <div class="col crb2 bk1 bcell">Team</div>
      <div class="col crb2 bcell">{{ team.name }}</div>
    </div>
  </div>
  <div class="row">
    <div class="base_row">
      <div class="col crb2 bk1 bcell">School</div>
      <div class="col crb2 bcell">{{ team.school }}</div>
    </div>
  </div>
  <div class="row spacer">
  </div>
  <div class="row">
    <div class="base_row">
      <div class="col crb2 bk5 mid inv bcell">Round Timer (s)</div>
      <div class="col crb2 bk5 mid inv bcell">Run Timer (s)</div>
    </div>
  </div>
  <div class="row">
    <div class="base_row">
      <div class="col crb2 bk2 mass bcell">{{ round_timer }}</div>
      <div class="col crb2 bk2 mass bcell">{{ run_timer }}</div>
    </div>
  </div>
  <div class="row">
    <div class="base_row">
      <div class="col crb2 bcell">
        <button class='btn-buf' ng-click="round_start()">Start</button>
        <button class='btn-buf' ng-click="round_toggle_pause()">Pause</button>
        <button class='btn-buf' ng-click="round_reset()">Reset</button>
        <button class='btn-buf' ng-click="round_stop()">Abort</button>
        <button class='btn-buf' ng-click="round_end()">End</button>
      </div>
      <div class="col crb2 bcell">
        <button class='btn-buf' ng-click="run_start()">Start</button>
        <button class='btn-buf' ng-click="run_toggle_pause()">Pause</button>
        <button class='btn-buf' ng-click="run_reset()">Reset</button>
        <button class='btn-buf' ng-click="run_stop()">Stop</button>
        <button class='btn-buf' ng-click="run_back()">Back</button>
      </div>
    </div>
  </div>
</div>
